router bgp {{ bgp_as }}
 bgp router-id {{ loopback_ip }}
 address-family l2vpn evpn
  retain route-target all
 !
{% if role == 'PE' %}
 {% for rr in bgp_rr_nodes %}
 neighbor {{ rr }}
  remote-as {{ bgp_as }}
  update-source Loopback0
  address-family l2vpn evpn
   send-community both
 {% endfor %}
{% elif role == 'P' %}
 {% for peer in groups['pe'] %}
 neighbor {{ hostvars[peer].loopback_ip }}
  remote-as {{ bgp_as }}
  update-source Loopback0
  address-family l2vpn evpn
   route-reflector-client
   send-community both
 {% endfor %}
{% endif %}