telemetry model-driven
 destination-group GRAFANA
  address-family ipv4 {{ telemetry_dst_ip }} port {{ telemetry_dst_port }} protocol {{ telemetry_protocol }}
 sensor-group IOSXR_BASE
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/generic-counters
 subscription BASE_SUB
  sensor-group-id IOSXR_BASE sample-interval 30000
  destination-id GRAFANA
