telemetry model-driven
 destination-group D1
  address-family ipv4 {{ telemetry_dst_ip }} port {{ telemetry_dst_port }}
   encoding self-describing-gpb
   protocol tcp
   vrf mgmt
  !
 !
 sensor-group S1
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/generic-counters
 !
 subscription SUB1
  sensor-group-id S1 sample-interval 10000
  destination-id D1
  source-interface MgmtEth0/RP0/CPU0/0
 !