interface Loopback0
 ipv4 address {{ loopback_ip }} 255.255.255.255
!
{% for iface in core_ifaces %}
interface {{ iface.name }}
 ipv4 address {{ iface.ip }}
 no shutdown
!
{% endfor %}
{% if ce_interface is defined %}
interface {{ ce_interface }}
 ipv4 address {{ ce_ip }}
 no shutdown
!
{% endif %}
router isis {{ isis_process }}
 net {{ isis_net }}
 is-type level-2-only
 address-family ipv4 unicast
  metric-style wide
 !
 interface Loopback0
  address-family ipv4 unicast
 !
 {% for iface in core_ifaces %}
 interface {{ iface.name }}
  point-to-point
  address-family ipv4 unicast
 !
 {% endfor %}
 {% if ce_interface is defined %}
 interface {{ ce_interface }}
  address-family ipv4 unicast
 !
 {% endif %}
!
mpls ldp
 router-id {{ loopback_ip }}
 address-family ipv4
 !
 interface Loopback0
 !
 {% for iface in core_ifaces %}
 interface {{ iface.name }}
 !
 {% endfor %}
!