interface Loopback0
 ipv4 address {{ loopback_ip }} 255.255.255.255
!
{% for iface in core_ifaces %}
interface {{ iface.name }}
 ipv4 address {{ iface.ip }}
 no shutdown
!
{% endfor %}
router isis {{ isis_process }}
 is-type {{ isis_level }}
 net {{ isis_net }}
 address-family ipv4 unicast
  metric-style wide
 !
 interface Loopback0
  address-family ipv4 unicast
 !
 {% for iface in core_ifaces %}
 interface {{ iface.name }}
  point-to-point
  address-family ipv4 unicast
 !
 {% endfor %}
!
mpls ldp
 router-id {{ loopback_ip }}
 address-family ipv4
 !
 interface Loopback0
 !
 {% for iface in core_ifaces %}
 interface {{ iface.name }}
 !
 {% endfor %}
!
root