---
- name: Configure Underlay (IPs, ISIS, LDP)
  hosts: all
  gather_facts: false
  tasks:
    - name: Push ISIS and LDP configurations
      cisco.iosxr.iosxr_config:
        src: "../templates/{{ item }}"
      loop:
        - isis.j2
        - ldp.j2